name: "Update PGO performance profile"
on:
#  schedule:
#    - cron: "0 0 * * 2" # Every Tuesday at 00:00
  workflow_dispatch:
jobs:
  update_pgo:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      PGO_MERGE: ${{ secrets.PGO_MERGE }}
    steps:
      - uses: actions/checkout@v3
      - name: "Download new pgo_media_repo.pprof"
        run: "curl -sv --fail -X POST -H \"Authorization: Bearer ${PGO_MERGE}\" https://pgo-mmr.t2host.io/v1/merge?and_combine=true > pgo_media_repo.pprof"
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update pgo_media_repo.pprof"
